{% include 'header' %}

<h3>Message From Controller</h3>

<p>{{msg}}</p>

<h3>Example Image</h3>

<p><img src="{{'logo.png'| asset_url}}" /></p>

<div id="ticket_data">
</div>

<script>
	var tkt_data = domHelper.getTicketInfo();
	tkt_data.done(function(obj){
		//do something with the data
		var markup ="<p>Ticket ID :" + obj.helpdesk_ticket.display_id;
		markup += "<br> Ticket Description: " + obj.helpdesk_ticket.ticket_description+ "</p>";
		jQuery("div#ticket_data").html(markup);
	});
</script>

{% include 'footer' %}

