<p>
  My first app!
</p>
<div id="logo"></div>

{%comment%}

# Valid Liquid Markups:

## 1. Available in Ticket Page:

{{ticket.id}}
{{ticket.description}}
{{ticket.subject}}
{{ticket.ticket_type}}
{{ticket.source}}
{{ticket.priority}}
{{ticket.status}}
{{ticket.due_by_time}}
{{ticket.fr_due_by_time}}
{{ticket.requester.id}}
{{ticket.requester.name}}
{{ticket.agent.name}}
{{ticket.url}}

## 2. Available in Ticket &amp; Contact Page:

{{requester.id}}
{{requester.name}}
{{requester.email}}
{{requester.active}}
{{requester.test_field}}

{{current_user.id}}
{{current_user.name}}
{{current_user.email}}
{{current_user.active}}

{%endcomment%}
